[includeIf "gitdir:~/"]
  path = ~/.gitconfig-custom
[includeIf "gitdir:~/c/sgg/"]
  path = ~/.gitconfig-work
[includeIf "gitdir:~/c/p/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/dotfiles/"]
  path = ~/.gitconfig-personal
[core]
	editor = nvim
[credential]
    helper = store
[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto
        ui = auto
[color "status"]
        added = green
        changed = red bold
        untracked = magenta bold
[diff]
        renames = copies
[fetch]
        prune = true
[push]
        default = simple
